---
import SectionLayout from "@/layouts/SectionLayout.astro";
import CardDocente from "./components/CardDocente.astro";
---

<SectionLayout background="#F0F1FF">
  <div class="py-[90px]">
    <div class="flex flex-col items-center">
      <h2 class="text-[44px] text-center text-black font-bold pb-8">
        Informacion del Docente
      </h2>
      <CardDocente />
    </div>
  </div>
</SectionLayout>
