---
import { CarruselTestimonial } from "./components/CarruselTestimonial";
import SectionLayout from "@/layouts/SectionLayout.astro";
---

<SectionLayout background="#2729A3">
  <div class="py-[90px]">
    <h2 class="text-[44px] text-center font-bold pb-8">Testimonios</h2>
    <div class="grid justify-center">
      <CarruselTestimonial client:only="react" />
    </div>
  </div></SectionLayout
>
