---
import Layout from "../layouts/Layout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import { Button } from "@/components/ui/button";
import RegistroFormulario from "../components/capacitate/RegistroFormulario.astro";
import ItemCurso from "@/components/capacitate/components/ItemCurso.astro";
import ProgramaCurso from "@/components/capacitate/ProgramaCurso.astro";
import SeccionConImagen from "@/components/capacitate/SeccionConImagen.astro";
import Precio from "@/components/capacitate/Precio.astro";
import InformacionDocente from "@/components/capacitate/InformacionDocente.astro";
---

<Layout title="Capacítate">
  <main
    class="bg-cover w-full h-screen"
    style="background-image: url(/src/assets/bg-1.jpg);"
  >
    <SectionLayout background="">
      <div class="grid content-center h-screen mx-[180px] lg:mx-[10px]">
        <div
          class="flex flex-col items-center gap-7 bg-[#2729a4c0] backdrop-blur-md pt-16 pb-[72px] px-12 mx-[150px]"
        >
          <div class="flex items-center gap-3 bg-[#0B056C] w-fit py-2 px-4">
            <p class="bg-white w-2 h-2 rounded-full"></p>
            <p class="text-3xl lg:text-2xl font-bold">Curso</p>
          </div>
          <h1
            class="text-[60px] lg:text-[50px] leading-tight font-bold text-center"
          >
            Curso de Capacitación de Desarrollo web con Python
          </h1>
          <div class="flex gap-7">
            <Button size="lg"><p class="text-xl">Registrarse</p></Button>
            <Button size="lg" variant="outline"
              ><p class="text-xl">Ver temario</p>
            </Button>
          </div>
        </div>
      </div>
    </SectionLayout>
  </main>
  <section class="bg-[#Fafafa] pb-[72px]">
    <div class="flex justify-center lg:mx-[100px]">
      <div
        class="flex gap-32 lg:gap-20 text-black bg-[#F0F1FF] w-fit border-4 border-[#2729A4] py-8 px-14"
      >
        <div class="flex gap-16">
          <div>
            <p
              class="text-xl text-[#857FE9] font-bold uppercase border-[#857FE9] border-b-2"
            >
              Inicio
            </p>
            <p class="text-lg font-medium">25/07/2024</p>
          </div>
          <div>
            <p
              class="text-xl text-[#857FE9] font-bold uppercase border-[#857FE9] border-b-2"
            >
              Fin
            </p>
            <p class="text-lg font-medium">25/07/2024</p>
          </div>
          <div>
            <p
              class="text-xl text-[#857FE9] font-bold uppercase border-[#857FE9] border-b-2"
            >
              Horario
            </p>
            <p class="text-lg font-medium">
              Martes y jueves de 7:00 pm a 10:00 pm
            </p>
          </div>
          <div>
            <p
              class="text-xl text-[#857FE9] font-bold uppercase border-[#857FE9] border-b-2"
            >
              Modalidad
            </p>
            <p class="text-lg font-medium">Virtual</p>
          </div>
        </div>
        <div class="flex items-center">
          <Button size="lg" variant="secondary"
            ><p class="text-xl">Descargar Brochure</p></Button
          >
        </div>
      </div>
    </div>
  </section>
  <SeccionConImagen
    titulo="Dirigido a:"
    orderimage=""
    ordertext=""
    image="/src/assets/image-1.png"
    showcontent=""
  />
  <SectionLayout background="#FAFAFA">
    <h2 class="flex justify-center text-black text-[44px] font-bold">
      Registrate aqui!!
    </h2>
    <div>
      <RegistroFormulario />
    </div>
  </SectionLayout>
  <SectionLayout background="#2729A4">
    <div class="py-[72px]">
      <div class="space-y-32">
        <div class="grid grid-cols-2 gap-[155px]">
          <h2 class="text-[44px] font-bold">¿Por qué llevar el curso?</h2>
          <p>
            Permitirá a los participantes conocer las herramientas más
            utilizadas para iniciarse en el campo del desarrollo web. La
            profundización y práctica de los tópicos impartidos en el curso
            brindarán al estudiante el acceso a un amplio mercado laboral como
            «Web Developer«; dentro y fuera del Perú.
          </p>
        </div>
        <ItemCurso />
      </div>
    </div>
  </SectionLayout>
  <ProgramaCurso />
  <SeccionConImagen
    titulo="¿Que mas debo hacer?"
    orderimage="1"
    ordertext="2"
    showcontent="none"
    image="/src/assets/quemas.png"
  />
  <Precio />
  <InformacionDocente />
</Layout>
