---
interface Props {
  background: string;
}
const { background } = Astro.props;
---

<div style={`background-color: ${background};`}>
  <section class="max-w-screen lg:px-[100px] w-full mx-auto">
    <slot>
      <h2 class="text-xl uppercase">Section Example</h2>
    </slot>
  </section>
</div>
