---
import { Button } from "@/components/ui/button";
---

<div class="text-black border-[3px] border-[#2729A4] w-[450px] p-4 bg-white">
  <div class="flex flex-col gap-4 items-center">
    <img src="/src/assets/docente.png" alt="docente" class="w-auto h-[350px]" />
    <h2 class="text-2xl font-semibold">Alexandra Segovia Razo</h2>
    <p class="text-xl text-center">
      Docente especializado en el área de programación de sistemas embebidos y
      desarrollo de software. Integrante de diversos proyectos de investigación
      relacionados a programación y robótica en la PUCP.
    </p>
    <Button size="lg"><p class="text-xl">Ver perfil</p></Button>
  </div>
</div>
